.header {
  border-bottom: 1px solid rgb(219 219 219);
}

.header__container {
  width: 75vw;
  margin: auto;
  padding: 0px 20px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  margin-right: 1rem;
  font-size: 20px;
}

.MuiSvgIcon-root {
  font-size: 1.6rem !important;
}

.header__input {
  display: flex;
  align-items: center;
  border: 1px solid #e2e0e0;
  border-radius: 2px;
  padding: 5px;
  width: 200px;
  background-color: #fafafa;
  justify-content: center;
}

.header__input > input {
  border: none;
  font-size: 11px;
}

.header__input > input:focus {
  outline: none;
}

.search__icon {
  color: #bcb7b7;
  font-size: 9px;
  margin-right: 1px;
}

.header_no_input > .MuiSvgIcon-root {
  font-size: 16px !important;
  font-weight: 200 !important;
}

.search_text {
  color: #bcb7b7;
  font-size: 14px;
}

.header_no_input {
  display: flex;
  align-items: center;
  justify-content: center;
}
