.post {
  width: 614px;
  border: 1px solid rgb(219 219 219);
  margin-bottom: 60px;
}

.post__header {
  height: 60px;
  border-bottom: 1px solid rgb(219 219 219);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__header__start {
  display: flex;
  align-items: center;
  padding: 10px;
}

.post__header__start > p {
  margin-left: 20px;
}

.post__header__end {
  padding: 10px;
  margin-right: 5px;
}

.post > img {
  width: 614px;
  object-fit: contain;
}

.post__footer {
  padding: 10px;
}

.post__footer__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.post__footer__icons__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__footer__icons__left .MuiSvgIcon-root {
  margin-right: 10px;
  font-size: 28px !important;
}

.post__footer__icons__right .MuiSvgIcon-root {
  font-size: 28px !important;
}

.post__footer__likeSection {
  display: flex;
  align-items: center;
}
.post__footer__caption {
  display: flex;
  align-items: flex-end;
  overflow-wrap: break-word;
}

.post__footer__captionText {
  font-size: 14px;
  overflow: hidden;
  line-height: 22px;
  text-align: justify;
  word-break: keep-all;
}

.moreBtn {
  background: 0 0;
  border: 0;
  color: #8e8e8e;
  cursor: pointer;
  margin: 0;
  padding: 0;
  line-height: 19.5px;
  outline: 0;
}
